ops~=2.15.0
git+https://github.com/Canonical/mongo-single-kernel-library.git@feat/DPE-6717-mongo-db-ldap-update-configuration-to-write-in-files-instead-of-cli-mongodb-mongos#egg=mongo-charms-single-kernel
